html,body{
  padding:0px;
  font-family:arial;
  
}
body{
  background-color:black;
}
.innerliner{
  position:relative;
  height:100%;
  overflow:auto;
}
#content{
  height:inherit;
}
#leftside{
  position:relative;
  height:inherit;
}

#rightside{
  position:relative;
  height:inherit;
}
#leftliner{
  position:relative;
  padding:0px;
  width:70%;
  height:100%;
  background-color:gray;
  float:left;
}
#rightliner{
  position:relative;
  padding:0px;
  width:30%;
  height:inherit;
  background-color:#00B8B8;
  float:right;
  
}
#info{
  padding:5px;
}

#chatarea{
  position:relative;
  height:100%;
}
#infoliner{
  position:relative;
  height:50%;
  border:1px solid black;
}
#chatarealiner{
  position:relative;
  height:50%;
  overflow:auto;
  border:1px solid black;
}
#publicspace{

}
#playerspace{
}
#publicspaceliner{
  position:relative;
  height:80%;
}
#playerspaceliner{
  position:relative;
  height:20%;
  background-color:yellow;
  border:1px solid black;
}
#opponents{
  overflow:auto;
  height:100%;
}
#opponentsliner{
  position:relative;
  height:20%;
}
#board{
  background-color:blue;
  overflow:auto;
  height:100%;
}
#boardliner{
  position:relative;
  height:60%;
  background-color:red;
}
#pubplayer{
  position:relative;
  height:100%;
  overflow:auto;

}
#pubplayerliner{
  position:relative;
  height:20%;
}
